.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

body {
  font-family: "Poppins", sans-serif;
}

p {
  color: #45556c;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background-color: #ffffffff;
  box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.1),
    0px 1px 3px 0px rgba(0, 0, 0, 0.1);
}

.function-btn {
  display: flex;
  gap: 10px;
}

.profile-logout-btn {
  display: flex;
  align-items: center;
  gap: 15px;
}

button {
  padding: 6px 12px;
  cursor: pointer;
}

h1,
h3 {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  font-style: ;
}

button {
  background-color: transparent;
  border: none;
  padding: 16px 16px;
  font-family: arial, sans-serif;
  font-size: 16px;
  cursor: pointer;
  color: #45556c;
  border-radius: 10px;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #eff6ff;
  color: #155dfc;
}

button:active {
  background-color: rgba(0, 0, 0, 0.15);
}

.logout-btn {
  background-color: transparent;
  border: none;
  padding: 16px 16px;
  font-family: arial, sans-serif;
  font-size: 16px;
  cursor: pointer;
  color: #e7000b;
  border-radius: 10px;
  transition: background-color 0.2s ease;
}

h3 {
  font-size: 14px;
  font-style: regular;
}

.logout-btn:hover {
  background-color: #ffb79fff;
  color: #e7000b;
}

.logout-btn:active {
  background-color: rgba(0, 0, 0, 0.15);
}

.card {
  background-color: #ffffff;
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  text-align: center;
}

.success-icon {
  width: 60px;
  height: 60px;
  background-color: #e7f9ee;
  color: #2ecc71;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin: 0 auto 20px;
  border: 2px solid #2ecc71;
}

h2 {
  color: #333;
  margin-bottom: 10px;
  font-size: 20px;
}

p.sub-text {
  color: #666;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 30px;
}

.details-box {
  background-color: #f8fafc;
  border-radius: 10px;
  padding: 20px;
  text-align: left;
  margin-bottom: 30px;
}

.details-box h3 {
  font-size: 16px;
  color: #334155;
  margin-top: 0;
  margin-bottom: 15px;
}

.detail-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 14px;
}

.label {
  color: #64748b;
}

.value {
  color: #1e293b;
  font-weight: 500;
}

.btn-continue {
  background-color: #1a56ff;
  color: white;
  border: none;
  width: 100%;
  padding: 15px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s;
}

.btn-continue:hover {
  background-color: #0041e6;
}
