.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

body {
  font-family: "Poppins", sans-serif;
}

p {
  color: #45556c;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background-color: #ffffffff;
  box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.1),
    0px 1px 3px 0px rgba(0, 0, 0, 0.1);
}

.function-btn {
  display: flex;
  gap: 10px;
}

.profile-logout-btn {
  display: flex;
  align-items: center;
  gap: 15px;
}

button {
  padding: 6px 12px;
  cursor: pointer;
}

a{
  text-decoration: none;
}

h1,
h3 {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  font-style: ;
}

button {
  background-color: transparent;
  border: none;
  padding: 16px 16px;
  font-family: arial, sans-serif;
  font-size: 16px;
  cursor: pointer;
  color: #45556c;
  border-radius: 10px;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #eff6ff;
  color: #155dfc;
}

button:active {
  background-color: rgba(0, 0, 0, 0.15);
}

.logout-btn {
  background-color: transparent;
  border: none;
  padding: 16px 16px;
  font-family: arial, sans-serif;
  font-size: 16px;
  cursor: pointer;
  color: #e7000b;
  border-radius: 10px;
  transition: background-color 0.2s ease;
}

h3 {
  font-size: 14px;
  font-style: regular;
}

.logout-btn:hover {
  background-color: #ffb79fff;
  color: #e7000b;
}

.logout-btn:active {
  background-color: rgba(0, 0, 0, 0.15);
}

.description {
  margin: 16px;
  padding: 16px 8px 16px 8px;
}

.notification-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px;
}

.notification-box p {
  font-size: 14px;
  margin-top: 42px;
}

.notification-box h1 {
  font-style: regular;
  font-weight: 400;
  font-size: 40px;
  margin-top: 8px;
  margin-bottom: 16px;
}
.notification-box {
  width: 292px;
  height: 166px;
  padding: 16px;
  border-radius: 14px;
  box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.1),
    0px 1px 3px 0px rgba(0, 0, 0, 0.1);
}

.arrow-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

i {
  font-size: 20px;
}

.notification-icon1 {
  background-color: #eff6ff;
  color: #155dfc;
  display: flex;
  justify-content: center;
  padding: 16px;
  border-radius: 10px;
}

.notification-icon2 {
  background-color: #fff4e5;
  color: #f79009;
  display: flex;
  justify-content: center;
  padding: 16px;
  border-radius: 10px;
}

.notification-icon3 {
  background-color: #ecfdf5;
  color: #12b76a;
  display: flex;
  justify-content: center;
  padding: 16px;
  border-radius: 10px;
}

.notification-icon4 {
  background-color: #f3e8ff;
  color: #9810fa;
  display: flex;
  justify-content: center;
  padding: 16px;
  border-radius: 10px;
}

.booking-container {
  margin-top: 32px;
  border-radius: 14px;
  box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.1),
    0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  padding: 24px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  margin: 16px;
  background: white;
  border: 1px solid #e2e8f0;
  border-radius: 12px;
  padding: 24px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.header h2 {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}

.view-all {
  color: #2563eb;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 4px;
  transition: background-color 0.2s ease;
  padding: 6px 12px;
  border-radius: 8px;
}
.view-all:hover {
  background-color: #eff6ff;
  color: #155dfc;
}

.view-all:active {
  background-color: rgba(0, 0, 0, 0.15);
}

.booking-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.booking-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border: 1px solid #e2e8f0;
  border-radius: 12px;
  transition: background-color 0.2s;
}

.booking-info h3 {
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 8px 0;
  color: #334155;
}

.booking-info p {
  font-size: 14px;
  color: #64748b;
  margin: 0;
}

.status {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 6px 16px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 500;
}

.status.approved {
  background-color: #f0fdf4;
  color: #16a34a;
}

.status.pending {
  background-color: #fffaf0;
  color: #d97706;
}

.status i {
  width: 16px;
  height: 16px;
}

.status-available {
  background: #dcfce7;
  color: #166534;
}
.status-booked {
  background: #f1f5f9;
  color: #475569;
}

.room-list-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
}

.room-list-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 24px;
  padding: 20px;
  margin-bottom: 40px;
}

.room-card {
  background: #fff;
  border-radius: 12px;
  border: 1px solid #e2e8f0;
  overflow: hidden;
  transition: transform 0.2s;
}

.room-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.image-container {
  position: relative;
  height: 200px;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.badge {
  position: absolute;
  top: 12px;
  right: 12px;
  padding: 4px 12px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 600;
}

.status-available {
  background: #dcfce7;
  color: #166534;
}
.status-booked {
  background: #f1f5f9;
  color: #475569;
}

.card-content {
  padding: 16px;
}

.card-content h3 {
  margin: 0 0 8px 0;
  font-size: 18px;
  color: #1e293b;
}

.card-content p{
  font-size: 14px;
  font-weight: 400;
}

.capacity {
  font-size: 16px;
  font-weight: 400;
  color: #64748b;
  margin-bottom: 16px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 20px;
}

.tag {
  background: #f1f5f9;
  padding: 4px 10px;
  border-radius: 6px;
  font-size: 12px;
  color: #475569;
}

.tag-more {
  font-size: 12px;
  color: #64748b;
  align-self: center;
}

.btn-view {
  width: 100%;
  background: #2563eb;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 8px;
  font-weight: 400;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.btn-view:disabled {
  background: #eff6ff;
  color: #bfdbfe;
  cursor: not-allowed;
}
