.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

body{
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 90%;
    max-width: 1100px;
    display: flex;
    gap: 60px;
    align-items: center;
    margin-left: 20px;
    margin-top:20px;
}

.info-side {
    flex: 1;
}

.badge {
    background-color: #e8f0fe;
    color: #155DFC;
    padding: 6px 14px;
    border-radius: 50px;
    font-size: 12px;
    font-weight: 600;
}

.main-title {
    font-size: 42px;
    margin-top: 20px;
    color: #1e293b;
}

.brand {
    color: #155DFC;
}

.sub-text {
    color: #64748b;
    margin: 20px 0 40px 0;
    line-height: 1.6;
    max-width: 450px;
}

.features-row {
    display: flex;
    gap: 20px;
}

.feature-box {
    background: white;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.04);
    display: flex;
    gap: 15px;
    align-items: center;
    flex: 1;
}

.icon-circle {
    width: 45px;
    height: 45px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.blue-bg { background-color: #eff6ff; color: #155DFC; }
.green-bg { background-color: #ecfdf5; color: #10b981; }

.feature-content h4 { font-size: 14px; color: #334155; }
.feature-content p { font-size: 11px; color: #94a3b8; margin-top: 4px; }

.alert-error {
    background-color: #fdecea;
    color: #b71c1c;
    border: 1px solid #f5c6cb;
    padding: 12px 16px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.reg-form{
    display: flex;
    flex-direction: column;
    width: 300px;
    border: 2px solid #ccc;
    padding: 50px;
    border-radius: 25px;
    margin-top: 20px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.reg-form input{
    width: 320px;
    border: 2px solid #bcbcbcff;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    box-sizing: border-box;
}
.reg-form input:hover{
    transform: scale(1.02);
}
.reg-form input:focus{
    outline: none;
    border-color: #155DFC;
}

.info{
    font-size: 12px;
    color: #747474ff;
}

.reg-btn{
    background-color: #155DFC;
    color: white;
    font-size: 16px;
    margin-top: 32px;
    padding: 14px 62px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 16px;
    transition: transform 0.2s;
}
.reg-btn:hover{
    transform: scale(1.05);
}

.login-conf{
    margin-top: 20px;
    font-size: 12px;
}

a{
    text-decoration: none;
    color: #015ec0ff;
    font-size: 12px;
}
